In [2]:
import pandas as pd

In [3]:
adult_census=pd.read_csv("../datasets/adult-census-numeric.csv")

In [4]:
adult_census.head()

   age  capital-gain  capital-loss  hours-per-week   class
0   41             0             0              92   <=50K
1   48             0             0              40   <=50K
2   60             0             0              25   <=50K
3   37             0             0              45   <=50K
4   73          3273             0              40   <=50K

In [5]:
target_name="class"
target=adult_census[target_name]
target

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
39068     <=50K
39069     <=50K
39070      >50K
39071     <=50K
39072      >50K
Name: class, Length: 39073, dtype: object

In [6]:
data=adult_census.drop(columns=[target_name])
data.head()

   age  capital-gain  capital-loss  hours-per-week
0   41             0             0              92
1   48             0             0              40
2   60             0             0              25
3   37             0             0              45
4   73          3273             0              40

In [7]:
data.shape

(39073, 4)

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model=KNeighborsClassifier()
_=model.fit(data,target)#_ in python is a conventional placeholder for a variable that we throw out

In [10]:
target_predicted=model.predict(data)

In [11]:
target_predicted[:5]

array([' >50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K'], dtype=object)

In [12]:
target[:5]==target_predicted[:5]

0    False
1     True
2     True
3     True
4     True
Name: class, dtype: bool

In [13]:
(target==target_predicted).mean()

0.8238169580016892

### Train-test data split

In [14]:
adult_census_test=pd.read_csv("../datasets/adult-census-numeric-test.csv")

In [15]:
adult_census_test.head()

   age  capital-gain  capital-loss  hours-per-week   class
0   20             0             0              35   <=50K
1   53             0             0              72    >50K
2   41             0             0              50    >50K
3   20             0             0              40   <=50K
4   25             0             0              40   <=50K

In [16]:
target_test = adult_census_test[target_name]
data_test = adult_census_test.drop(columns=[target_name])
target_test.shape

(9769,)

In [17]:
accuracy=model.score(data_test,target_test)
accuracy

0.8065308629337701

In [18]:
KNeighborsClassifier?

Init signature:
KNeighborsClassifier(
    n_neighbors=5,
    *,
    weights='uniform',
    algorithm='auto',
    leaf_size=30,
    p=2,
    metric='minkowski',
    metric_params=None,
    n_jobs=None,
)
Docstring:
Classifier implementing the k-nearest neighbors vote.

Read more in the :ref:`User Guide <classification>`.

Parameters
----------
n_neighbors : int, default=5
    Number of neighbors to use by default for :meth:`kneighbors` queries.

weights : {'uniform', 'distance'}, callable or None, default='uniform'
    Weight function used in prediction.  Possible values:

    - 'uniform' : uniform weights.  All points in each neighborhood
      are weighted equally.
    - 'distance' : weight points by the inverse of their distance.
      in this case, closer neighbors of a query point will have a
      greater influence than neighbors which are further away.
    - [callable] : a user-defined function which accepts an
      array of distances, and returns an array of the same shape
      containing the weights.

algorithm : {'auto', 'ball_tree', 'kd_tree', 'brute'}, default='auto'
    Algorithm used to compute the nearest neighbors:

    - 'ball_tree' will use :class:`BallTree`
    - 'kd_tree' will use :class:`KDTree`
    - 'brute' will use a brute-force search.
    - 'auto' will attempt to decide the most appropriate algorithm
      based on the values passed to :meth:`fit` method.

    Note: fitting on sparse input will override the setting of
    this parameter, using brute force.

leaf_size : int, default=30
    Leaf size passed to BallTree or KDTree.  This can affect the
    speed of the construction and query, as well as the memory
    required to store the tree.  The optimal value depends on the
    nature of the problem.

p : int, default=2
    Power parameter for the Minkowski metric. When p = 1, this is
    equivalent to using manhattan_distance (l1), and euclidean_distance
    (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used.

metric : str or callable, default='minkowski'
    Metric to use for distance computation. Default is "minkowski", which
    results in the standard Euclidean distance when p = 2. See the
    documentation of `scipy.spatial.distance
    <https://docs.scipy.org/doc/scipy/reference/spatial.distance.html>`_ and
    the metrics listed in
    :class:`~sklearn.metrics.pairwise.distance_metrics` for valid metric
    values.

    If metric is "precomputed", X is assumed to be a distance matrix and
    must be square during fit. X may be a :term:`sparse graph`, in which
    case only "nonzero" elements may be considered neighbors.

    If metric is a callable function, it takes two arrays representing 1D
    vectors as inputs and must return one value indicating the distance
    between those vectors. This works for Scipy's metrics, but is less
    efficient than passing the metric name as a string.

metric_params : dict, default=None
    Additional keyword arguments for the metric function.

n_jobs : int, default=None
    The number of parallel jobs to run for neighbors search.
    ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
    ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
    for more details.
    Doesn't affect :meth:`fit` method.

Attributes
----------
classes_ : array of shape (n_classes,)
    Class labels known to the classifier

effective_metric_ : str or callble
    The distance metric used. It will be same as the `metric` parameter
    or a synonym of it, e.g. 'euclidean' if the `metric` parameter set to
    'minkowski' and `p` parameter set to 2.

effective_metric_params_ : dict
    Additional keyword arguments for the metric function. For most metrics
    will be same with `metric_params` parameter, but may also contain the
    `p` parameter value if the `effective_metric_` attribute is set to
    'minkowski'.

n_features_in_ : int
    Number of features seen during :term:`fit`.

    .. versionadded:: 0.24

feature_names_in_ : ndarray of shape (`n_features_in_`,)
    Names of features seen during :term:`fit`. Defined only when `X`
    has feature names that are all strings.

    .. versionadded:: 1.0

n_samples_fit_ : int
    Number of samples in the fitted data.

outputs_2d_ : bool
    False when `y`'s shape is (n_samples, ) or (n_samples, 1) during fit
    otherwise True.

See Also
--------
RadiusNeighborsClassifier: Classifier based on neighbors within a fixed radius.
KNeighborsRegressor: Regression based on k-nearest neighbors.
RadiusNeighborsRegressor: Regression based on neighbors within a fixed radius.
NearestNeighbors: Unsupervised learner for implementing neighbor searches.

Notes
-----
See :ref:`Nearest Neighbors <neighbors>` in the online documentation
for a discussion of the choice of ``algorithm`` and ``leaf_size``.

.. warning::

   Regarding the Nearest Neighbors algorithms, if it is found that two
   neighbors, neighbor `k+1` and `k`, have identical distances
   but different labels, the results will depend on the ordering of the
   training data.

https://en.wikipedia.org/wiki/K-nearest_neighbor_algorithm

Examples
--------
>>> X = [[0], [1], [2], [3]]
>>> y = [0, 0, 1, 1]
>>> from sklearn.neighbors import KNeighborsClassifier
>>> neigh = KNeighborsClassifier(n_neighbors=3)
>>> neigh.fit(X, y)
KNeighborsClassifier(...)
>>> print(neigh.predict([[1.1]]))
[0]
>>> print(neigh.predict_proba([[0.9]]))
[[0.666... 0.333...]]
File:           c:\users\pirouz\anaconda3\envs\scikit-learn-course\lib\site-packages\sklearn\neighbors\_classification.py
Type:           ABCMeta
Subclasses:

In [19]:
model50=KNeighborsClassifier(n_neighbors=50)

In [20]:
model50.fit(data,target)

KNeighborsClassifier(n_neighbors=50)

In [21]:
target_predicted50=model50.predict(data[:10])
target_predicted50

array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K',
       ' <=50K', ' >50K', ' <=50K', ' <=50K'], dtype=object)

In [22]:
(target_predicted50==target[:10]).mean()

0.9

In [23]:
data_test.head()

   age  capital-gain  capital-loss  hours-per-week
0   20             0             0              35
1   53             0             0              72
2   41             0             0              50
3   20             0             0              40
4   25             0             0              40

In [24]:
target_predicted_test=model50.predict(data_test)

In [25]:
(target_test==target_predicted_test).mean()

0.8188146176681339

In [26]:
model50.score(data,target)

0.8290379545978042

In [32]:
adult_census=pd.read_csv("../datasets/adult-census.csv")

In [33]:
#duplicate columns: education-num and education
adult_census=adult_census.drop(columns="education-num")

In [34]:
adult_census.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [35]:
data=adult_census.drop(columns='class')
target=adult_census["class"]

In [36]:
data.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,?,Some-college,Never-married,?,Own-child,White,Female,0,0,30,United-States

In [37]:
target.head(2)

0     <=50K
1     <=50K
Name: class, dtype: object

In [38]:
numerical_columns=["age","capital-gain","capital-loss","hours-per-week"]

In [39]:
data_numeric=data[numerical_columns]

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
data_train,data_test,target_train,target_test=(train_test_split(data_numeric,target,random_state=42,test_size=0.25))

In [42]:
data_numeric.shape

(48842, 4)

In [43]:
data_train.shape

(36631, 4)

In [44]:
target_train.shape

(36631,)

In [45]:
data_test.shape

(12211, 4)